<footer>
  <div class="footer-container">
    <div class="footer-left">
      <div class="social-icons">
        <a href="https://instagram.com/@hintsnap" target="Instagram">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" width="24" height="24" alt="Instagram" style="fill: #ffff;">
  </a>
        <a href="https://youtube.com/@hintsnap" target="YouTube">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" width="24" height="24" alt="YouTube" style="fill: #ffff;">
  </a>
        <a href="mailto:support@hintsnap.in" target="_blank" title="Email">
  <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/gmail.svg" width="24" height="24" alt="Email" />
</a>
      </div>
      <form class="subscribe-form">
        <input type="email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-center">
      &copy; 2025 HintSnap. All rights reserved.
    </div>
    <div class="footer-right">
      <a href="https://hintsnap.in/about_us">About Us</a>
      <a href="https://hintsnap.in/contact_us">Contact Us</a>
      <a href="https://hintsnap.in/privacy_policy">Privacy Policy</a>
    </div>
  </div>
</footer>
