<div id="offer-banner">Welcome</div>



<div class="header">
  <div class="logo">HintSnap</div>
  <div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav" id="navMenu">
    <a href="https://hintsnap.in/">Home</a>
    <a href="https://hintsnap.in/page1.html">Gift Cards</a>
    <a href="https://hintsnap.in/about_us">About Us</a>
    <a href="https://hintsnap.in/privacy_policy">Privacy Policy</a>
    <a href="https://hintsnap.in/contact_us">Contact Us</a>
  </div>
</div>
