<div id="offer-banner">Loading offer...</div>

  <script>
    fetch('https://docs.google.com/spreadsheets/d/1km3SdNZgy-4X2gc-xaPwzLLwebsN643U--tq4tx8BOw/gviz/tq?tqx=out:json')
      .then(res => res.text())
      .then(text => {
        const json = JSON.parse(text.substr(47).slice(0, -2));
        const offerText = json.table.rows[0].c[0].v;  // Cell A1
        document.getElementById('offer-banner').textContent = offerText;
      })
      .catch(err => {
        document.getElementById('offer-banner').textContent = "Unable to load offer.";
        console.error("Fetch error:", err);
      });
  </script>


<div class="header">
  <div class="logo">HintSnap</div>
  <div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav" id="navMenu">
    <a href="https://hamma2.netlify.app/">Home</a>
    <a href="https://hamma2.netlify.app/page1">Gift Cards</a>
    <a href="https://hamma2.netlify.app/about_us">About Us</a>
    <a href="https://hamma2.netlify.app/privacy_policy">Privacy Policy</a>
    <a href="https://hamma2.netlify.app/contact_us">Contact Us</a>
  </div>
</div>
